<ul class="list-group">
  <%= link "Add new post", to: post_path(@conn, :new), class: "list-group-item active" %>
  <%= for post <- @posts do %>
    <a href="<%= post_path(@conn, :show, post) %>" class="list-group-item">
      <span class="badge">0</span>
      <%= post.title %>
    </a>
  <% end %>
</ul>
