<h2>Show post</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @post.body %>
  </li>

</ul>
<%= link "Back", to: post_path(@conn, :index) %>
<br />
<%= link "Edit", to: post_path(@conn, :edit, @post) %>
<%= link "Delete", to: post_path(@conn, :delete, @post), method: :delete %>
