<h2>Show request</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @request.title %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @request.body %>
  </li>

</ul>

<%= link "Edit", to: request_path(@conn, :edit, @request) %>
<%= link "Back", to: request_path(@conn, :index) %>
