<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= @request.title %></h4>
  </div>
  <div class="panel-body">
    <%= @request.body %>
  </div>
</div>

<div class="btn-group" role="group" aria-label="...">
  <%= link "Edit", to: request_path(@conn, :edit, @request), class: "btn btn-default" %>
  <%= link "Back", to: request_path(@conn, :index), class: "btn btn-default" %>
</div>
